.UserCenter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px #fff solid;

    :global {
        .ant-avatar {
            width: 34px;
            height: 34px;
            margin-left: 15px;
        }
    }
}