{
    "presets": [
        ["@babel/preset-env", 
            {
             "useBuiltIns": "entry",
             "corejs": 3,
             "exclude": ["transform-typeof-symbol"]
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": true
        }]
    ]
}