.TaskItem {
    width: 116px;
    min-width: 28px;
    height: 100%;
    cursor: pointer;
    flex: 1;
    position: relative;

    overflow: visible;
    z-index: 1;



    &:hover :global .opration_wrap {
        display: block !important;
        transition: all 0.3s;
    }


    :global {

        .TaskItem_active {
            background-color: #fff;

            border: none;
        }

        .task_name {
            flex: 1;
            color: inherit;
            font-size: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 100%;

            color: var(--gddi-primary-text-color);
        }

        .TaskItem_wrap {
            width: 100%;
            height: 100%;

            overflow: hidden;


            padding: 8px 0;
            background: transparent;

            // &:hover {
            //     background-color: #fff;
            // }
        }

        .border_wrap {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            border-right: 1px solid #fff;
            padding: 0 10px;
        }

        .opration_wrap {
            display: none;
            padding: 0 2px;
            flex-shrink: 0;
            white-space: nowrap;
            font-size: 10px;
            color: red;
            z-index: 1;
        }


    }
}