@sizes: {
    sm: 0px;
    md: 1024px;
    lg: 1600px;
}


@media (min-width: @sizes[sm]) {
    @import (less) "./style/tasklist_md.module.less";
}

@media (min-width: @sizes[md]) {

    @import (less) "./style/tasklist_md.module.less";
}

@media (min-width: @sizes[lg]) {

    @import (less) "./style/tasklist_lg.module.less";
}