:root {
    --hue: 184;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 66%, 24%);
    --primary: hsl(var(--hue), 66%, 44%);
    --gradient: linear-gradient(145deg, hsl(var(--hue), 10%, 85%), hsl(var(--hue), 10%, 100%));
    font-size: 16px;
}

.LoginForm {
    width: 445px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 15px;
    z-index: 30;
    position: relative;
    margin-left: 50%;
    font-family: sans-serif;
    color: #BABECC;

    :global {
        .form_title {
            color: #BABECC;
            font-size: 22px;
            margin-bottom: 20px;
            text-shadow: 1px 1px 1px #fff;
            letter-spacing: 3px;
        }

        input:-internal-autofill-selected {
            box-shadow: inset 0 0 0 1000px #fff !important; // 改变了背景色
            //-webkit-text-fill-color: #c0aefa; // 改变了字体颜色
        }

        .no_border {
            border: none;
            border-radius: 1.5em;
            box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #fff;
        }

        .ant-btn {
            width: 100%;
            height: 40px;
            background-color: transparent;
            border-radius: 5px;
            margin-top: 10px;
            .no_border();
            box-shadow: -2px -2px 5px #fff,
                2px 2px 5px #babecc;
        }

        .ant-btn-primary {
            color: #BABECC;
            font-size: 18px;
        }

        .ant-form-item-with-help .ant-form-item-explain {
            z-index: 10;
        }



        .ant-input {
            background: transparent !important;
            padding: 10px 15px !important;
             background-clip: content-box;
       
            .no_border()
        }

        .ant-input-affix-wrapper {
            // padding: 10px 11px !important;
            .no_border();

            .ant-input {
                border: none;
                box-shadow: none;
            }
        }

        .ant-input-password {
            background-color: transparent;
            padding: 0;
        }

        .ant-input-suffix {
            background-color: transparent;


            svg {
                color: #fff;
            }
        }
    }
}