.Tag {
    padding: 2px 8px;
    background-color: wheat;
    border-radius: 10px;
    font-size: 13px;
    color: var(--gddi-primary-text-color);

    :global {
        .test1 {
            color: yellowgreen;
        }
    }
}