.Operation {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    &>span {
        height: 22px;
        line-height: 22px;
    }


    :global {
        .Operation_edit {
            margin-left: 10px;
            margin-right: 10px;


        }

        .SmallButton_btn {
            padding: 1px 8px;

        }
    }
}