.Operation {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    :global {
        .Operation_edit {
            margin-right: 10px;
        }
    }
}