.FooterBar {
    width: 100%;
    height: 48px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;

    :global {
        .test1 {
            color: yellowgreen;
        }
    }
}