.SetModuleConfig {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #fff;
    display: flex;
    flex-direction: column;

    :global {
        .SelectModule_wrap {
            flex: 1;
        }
    }
}